.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.animated-bg-circles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.animated-bg-circles span {
  position: absolute;
  display: block;
  border-radius: 50%;
  opacity: 0.18;
  animation: moveCircles 9s linear infinite;
  background: var(--color-primary);
}

.animated-bg-circles span:nth-child(1) {
  width: 180px; height: 180px; left: 10vw; top: 10vh; animation-delay: 0s;
}
.animated-bg-circles span:nth-child(2) {
  width: 120px; height: 120px; left: 70vw; top: 20vh; animation-delay: 3s;
}
.animated-bg-circles span:nth-child(3) {
  width: 90px; height: 90px; left: 30vw; top: 70vh; animation-delay: 6s;
}
.animated-bg-circles span:nth-child(4) {
  width: 140px; height: 140px; left: 60vw; top: 60vh; animation-delay: 9s;
}
.animated-bg-circles span:nth-child(5) {
  width: 100px; height: 100px; left: 80vw; top: 80vh; animation-delay: 12s;
}

@keyframes moveCircles {
  0% { transform: scale(1.5) translateY(0); opacity: 0.18; }
  50% { transform: scale(1.2) translateY(-40px); opacity: 0.28; }
  100% { transform: scale(1.5) translateY(0); opacity: 0.18; }
}
